repos:
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
      - id: autoflake
        args: ['-i', '--remove-all-unused-imports']
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black]
  -   repo: https://github.com/asottile/reorder-python-imports
      rev: v3.10.0
      hooks:
      -   id: reorder-python-imports
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/mgedmin/check-python-versions
    rev: "0.21.3"
    hooks:
      - id: check-python-versions
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        name: README.md
        files: ^README.md$
      - id: markdown-toc
        name: FAQ.md
        files: FAQ.md$
      - id: markdown-toc
        name: CONTRIBUTE.md
        files: CONTRIBUTE.md$