sudo: false
language: python
python:
    - "3.6"
    - "3.7"
    - "3.8"
install: pip install tox-travis
script: tox
deploy:
  provider: pypi
  user: devopshq
  password:
    secure: "H3lHdZhgPw9q2IiM1ck/6AAXSpg6GZW+ug50/rKP0UVpKdpBDedhtoylWK480bmmGGGgUjDnFNwssCoq8AdBjE/LJ3hcOts6c8XpcUejL/DxGy+i0Ef3CtsdspvsisUn3g5rpLGEH9wr3m5fWi6M2231Xj85LDaAwdDTXHuFN3ZrIAPEkGFKcUVpivSczonAqLY8BE/l6HNSHaluGh6HB1JiHZStebfTTUvXAmMMcBojQxo5LHPK04KgChQ+0uJdmbDA91luKrjYX+cqKDzYaa7T0GieDd1E6jCQtam1sQxH2qDffbWRZsA+bfMoZjFgBcvwPp1hHaKoiJpJTAltd5IsLYzPxpbc079zABq0WSQ632k8Kt+9CPvJ5PbYf50AOGguZViie/1bZ3akj6rb1ycpBPDcWOAJuDS7Tifm1M4QCRd+QuDVOsj5xu+NkLVs037p/afPfNneeYWJYyyOkdVMfiC1AB9L5OppakS4q2DSwY49sTkySXY2gOZCjFlcXZkTW4PWkD9Ie/ulimRtWKyw/CvCZqa6goYWAhlrJE0+xM+/4xAr2b6KRutD4Jd3UzdM3uRRkvGSCfdU79uNTc3IQbECsPTWBrlQ34yL1et/5UnqNxSVm1XXFE+pPoaEFezih7Ek1AZ4ewTxigJLmXvcbA2dz9r6svQbaNY5G3c="
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    python: '3.7'
    branch:
    - master
    - develop
